body {
	font-size: 10pt;
        font-family: 'Roboto Condensed', sans-serif;
}

.dojoxGrid {
    font-family: inherit;
}

.count {
	margin-left: 10px;
	margin-bottom: 5px;
}

#iterations {
	float: left;
}

#wait {
	float: left;
	height: 16px;
	width: 24px;
}

h4#UserNameHeader {
	clear: both;
	padding-top: 15px
}

.story-owner {
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    color: rgb(7, 102, 146);

    animation: colorfade 900s infinite;
    animation-direction: alternate ;
    animation-timing-function: ease;

}

.story-name {
    font-size: 18px;
    font-weight: bold;
}

.small-link {
    font-size: 14px;
    font-weight: normal;
}

.dojoxGridCell {
    padding: 3px 3px 3px 3px;
}

td.dojoxGridCell {
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
}

@keyframes blink {
    50% { opacity: 0 }
}

@keyframes colorfade {
    17% { color: blue }
    33% { color: purple }
    50% { color: red }
    67% { color: orange }
    83% { color: gold }
    100% { color: green }
}

.table-group {
    float: left;
    margin-right: 14px;
}

td.number {
    text-align: right;
}

.table-stats {
    border-collapse: collapse;
    margin-bottom: 10px;
}

.table-stats td {
    border: solid grey 1px;
    padding: 5px;
    padding-right: 10px;
    min-width: 100px;
}
